.table-div{
				//margin:70px;
				width: 304px;
				height: 304px;
				float:left;
				border-radius:15px;
}

table{
				border-radius:5px;
}

.place{
				//border: 0px;
				width: 101px;
				height: 101px;
				font-size: 45px;
				text-align: center;
}

.placeEmpty {
				border: 0px;
				width: 100px;
				height: 100px;
}

.frame-div{
				margin-top: 100px;
				//margin-left: 100px;
				border:2px solid black;
				width: 444px;
				height: 444px;
				overflow: hidden;
				border-radius:15px;
}

.top-box, .bottom-box{
				width: 444px;
				height: 72px;
				padding: 20px;
}

.side-box{
				width: 68px;
				height: 304px;
				float:left;
}

.col-md-12{
				padding:0px: !important
}

.element {
				position: relative;
				top: 0%;
				transform: translateY(-50%);
}

.parent-element {
				-webkit-transform-style: preserve-3d;
				-moz-transform-style: preserve-3d;
				transform-style: preserve-3d;
}

#modal_dialog{
				text-align:center;
				//background-color:red;
				//width: 200px !important;
				//height: 400px !important;
}

input {
				font-size: 45px !important;
				width: 100px !important;
				height: 100px !important;
}
